[Desktop Entry]
Type=Application
Name=lv
Comment=Media library viewer
Exec=lv-imgui
Icon=lv
Categories=Graphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/webp;video/mp4;video/x-matroska;
